<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SMTPSender" value="skidrowsky@naver.com"/>
    <add key="SMTPHost" value="smtp.naver.com"/>
    <add key="SMTPPort" value="25"/>
    <add key="SMTPID" value="skidrowsky"/>
    <add key="SMTPPassword" value="password"/>
  </appSettings>
</configuration>